# Minha An√°lise do Dataset da Uber

In [1]:
#importando as bibliotecas pandas, seaborn e matplotlib

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import numpy as np

# Usando Pandas para abrir o arquivo
df = pd.read_csv('ncr_ride_bookings - ncr_ride_bookings.csv.csv', sep = ',')
df

,Date,Time,Booking ID,Booking Status,Customer ID,Vehicle Type,Pickup Location,Drop Location,Avg VTAT,Avg CTAT,...,Reason for cancelling by Customer,Cancelled Rides by Driver,Driver Cancellation Reason,Incomplete Rides,Incomplete Rides Reason,Booking Value,Ride Distance,Driver Ratings,Customer Rating,Payment Method
0,2024-03-23,12:29:38,"""CNR5884300""",No Driver Found,"""CID1982111""",eBike,Palam Vihar,Jhilmil,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2024-11-29,18:01:39,"""CNR1326809""",Incomplete,"""CID4604802""",Go Sedan,Shastri Nagar,Gurgaon Sector 56,4.9,14.0,...,NaN,NaN,NaN,1.0,Vehicle Breakdown,237.0,5.73,NaN,NaN,UPI
2,2024-08-23,08:56:10,"""CNR8494506""",Completed,"""CID9202816""",Auto,Khandsa,Malviya Nagar,13.4,25.8,...,NaN,NaN,NaN,NaN,NaN,627.0,13.58,4.9,4.9,Debit Card
3,2024-10-21,17:17:25,"""CNR8906825""",Completed,"""CID2610914""",Premier Sedan,Central Secretariat,Inderlok,13.1,28.5,...,NaN,NaN,NaN,NaN,NaN,416.0,34.02,4.6,5.0,UPI
4,2024-09-16,22:08:00,"""CNR1950162""",Completed,"""CID9933542""",Bike,Ghitorni Village,Khan Market,5.3,19.6,...,NaN,NaN,NaN,NaN,NaN,737.0,48.21,4.1,4.3,UPI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149995,2024-11-11,19:34:01,"""CNR6500631""",Completed,"""CID4337371""",Go Mini,MG Road,Ghitorni,10.2,44.4,...,NaN,NaN,NaN,NaN,NaN,475.0,40.08,3.7,4.1,Uber Wallet
149996,2024-11-24,15:55:09,"""CNR2468611""",Completed,"""CID2325623""",Go Mini,Golf Course Road,Akshardham,5.1,30.8,...,NaN,NaN,NaN,NaN,NaN,1093.0,21.31,4.8,5.0,UPI
149997,2024-09-18,10:55:15,"""CNR6358306""",Completed,"""CID9925486""",Go Sedan,Satguru Ram Singh Marg,Jor Bagh,2.7,23.4,...,NaN,NaN,NaN,NaN,NaN,852.0,15.93,3.9,4.4,Cash
149998,2024-10-05,07:53:34,"""CNR3030099""",Completed,"""CID9415487""",Auto,Ghaziabad,Saidulajab,6.9,39.6,...,NaN,NaN,NaN,NaN,NaN,333.0,45.54,4.1,3.7,UPI
149999,2024-03-10,15:38:03,"""CNR3447390""",Completed,"""CID4108667""",Premier Sedan,Ashok Park Main,Gurgaon Sector 29,3.5,33.7,...,NaN,NaN,NaN,NaN,NaN,806.0,21.19,4.6,4.9,Credit Card

In [2]:
# vai aparecer as 5 primeiras linhas do dataset
df.head()

,Date,Time,Booking ID,Booking Status,Customer ID,Vehicle Type,Pickup Location,Drop Location,Avg VTAT,Avg CTAT,...,Reason for cancelling by Customer,Cancelled Rides by Driver,Driver Cancellation Reason,Incomplete Rides,Incomplete Rides Reason,Booking Value,Ride Distance,Driver Ratings,Customer Rating,Payment Method
0,2024-03-23,12:29:38,"""CNR5884300""",No Driver Found,"""CID1982111""",eBike,Palam Vihar,Jhilmil,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2024-11-29,18:01:39,"""CNR1326809""",Incomplete,"""CID4604802""",Go Sedan,Shastri Nagar,Gurgaon Sector 56,4.9,14.0,...,NaN,NaN,NaN,1.0,Vehicle Breakdown,237.0,5.73,NaN,NaN,UPI
2,2024-08-23,08:56:10,"""CNR8494506""",Completed,"""CID9202816""",Auto,Khandsa,Malviya Nagar,13.4,25.8,...,NaN,NaN,NaN,NaN,NaN,627.0,13.58,4.9,4.9,Debit Card
3,2024-10-21,17:17:25,"""CNR8906825""",Completed,"""CID2610914""",Premier Sedan,Central Secretariat,Inderlok,13.1,28.5,...,NaN,NaN,NaN,NaN,NaN,416.0,34.02,4.6,5.0,UPI
4,2024-09-16,22:08:00,"""CNR1950162""",Completed,"""CID9933542""",Bike,Ghitorni Village,Khan Market,5.3,19.6,...,NaN,NaN,NaN,NaN,NaN,737.0,48.21,4.1,4.3,UPI

In [3]:
# vai aparecer as 5 ultimas linhas

df.tail()

,Date,Time,Booking ID,Booking Status,Customer ID,Vehicle Type,Pickup Location,Drop Location,Avg VTAT,Avg CTAT,...,Reason for cancelling by Customer,Cancelled Rides by Driver,Driver Cancellation Reason,Incomplete Rides,Incomplete Rides Reason,Booking Value,Ride Distance,Driver Ratings,Customer Rating,Payment Method
149995,2024-11-11,19:34:01,"""CNR6500631""",Completed,"""CID4337371""",Go Mini,MG Road,Ghitorni,10.2,44.4,...,NaN,NaN,NaN,NaN,NaN,475.0,40.08,3.7,4.1,Uber Wallet
149996,2024-11-24,15:55:09,"""CNR2468611""",Completed,"""CID2325623""",Go Mini,Golf Course Road,Akshardham,5.1,30.8,...,NaN,NaN,NaN,NaN,NaN,1093.0,21.31,4.8,5.0,UPI
149997,2024-09-18,10:55:15,"""CNR6358306""",Completed,"""CID9925486""",Go Sedan,Satguru Ram Singh Marg,Jor Bagh,2.7,23.4,...,NaN,NaN,NaN,NaN,NaN,852.0,15.93,3.9,4.4,Cash
149998,2024-10-05,07:53:34,"""CNR3030099""",Completed,"""CID9415487""",Auto,Ghaziabad,Saidulajab,6.9,39.6,...,NaN,NaN,NaN,NaN,NaN,333.0,45.54,4.1,3.7,UPI
149999,2024-03-10,15:38:03,"""CNR3447390""",Completed,"""CID4108667""",Premier Sedan,Ashok Park Main,Gurgaon Sector 29,3.5,33.7,...,NaN,NaN,NaN,NaN,NaN,806.0,21.19,4.6,4.9,Credit Card

In [5]:
df.info()
# Obter informa√ß√µes gerais sobre o DataFrame
# Mostra o n√∫mero de linhas, colunas, tipos de dados e valores n√£o nulos

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 21 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   Date                               150000 non-null  object
 1   Time                               150000 non-null  object
 2   Booking ID                         150000 non-null  object
 3   Booking Status                     150000 non-null  object
 4   Customer ID                        150000 non-null  object
 5   Vehicle Type                       150000 non-null  object
 6   Pickup Location                    150000 non-null  object
 7   Drop Location                      150000 non-null  object
 8   Avg VTAT                           139500 non-null  float64
 9   Avg CTAT                           102000 non-null  float64
 10  Cancelled Rides by Customer        10500 non-null   float64
 11  Reason for cancelling by Customer  10500 non-null   object
 12  Cancelled Rides by Driver          27000 non-null   float64
 13  Driver Cancellation Reason         27000 non-null   object
 14  Incomplete Rides                   9000 non-null    float64
 15  Incomplete Rides Reason            9000 non-null    object
 16  Booking Value                      102000 non-null  float64
 17  Ride Distance                      102000 non-null  float64
 18  Driver Ratings                     93000 non-null   float64
 19  Customer Rating                    93000 non-null   float64
 20  Payment Method                     102000 non-null  object
dtypes: float64(9), object(12)
memory usage: 24.0+ MB

In [6]:
df.describe()

,Avg VTAT,Avg CTAT,Cancelled Rides by Customer,Cancelled Rides by Driver,Incomplete Rides,Booking Value,Ride Distance,Driver Ratings,Customer Rating
count,139500.000000,102000.000000,10500.0,27000.0,9000.0,102000.000000,102000.000000,93000.000000,93000.000000
mean,8.456352,29.149636,1.0,1.0,1.0,508.295912,24.637012,4.230992,4.404584
std,3.773564,8.902577,0.0,0.0,0.0,395.805774,14.002138,0.436871,0.437819
min,2.000000,10.000000,1.0,1.0,1.0,50.000000,1.000000,3.000000,3.000000
25%,5.300000,21.600000,1.0,1.0,1.0,234.000000,12.460000,4.100000,4.200000
50%,8.300000,28.800000,1.0,1.0,1.0,414.000000,23.720000,4.300000,4.500000
75%,11.300000,36.800000,1.0,1.0,1.0,689.000000,36.820000,4.600000,4.800000
max,20.000000,45.000000,1.0,1.0,1.0,4277.000000,50.000000,5.000000,5.000000

In [7]:
df.describe(include = ['object'])
# o include object √© para vizualizar as colunas n√£o numericas

,Date,Time,Booking ID,Booking Status,Customer ID,Vehicle Type,Pickup Location,Drop Location,Reason for cancelling by Customer,Driver Cancellation Reason,Incomplete Rides Reason,Payment Method
count,150000,150000,150000,150000,150000,150000,150000,150000,10500,27000,9000,102000
unique,365,62910,148767,5,148788,7,176,176,5,4,3,5
top,2024-11-16,17:44:57,"""CNR6337479""",Completed,"""CID6715450""",Auto,Khandsa,Ashram,Wrong Address,Customer related issue,Customer Demand,UPI
freq,462,16,3,93000,3,37419,949,936,2362,6837,3040,45909

In [11]:
hora = df['Time'].unique()
print(hora)
#Usar o unique, para ver com quais categorias estamos trabalhando

['12:29:38' '18:01:39' '08:56:10' ... '12:36:17' '06:51:19' '12:31:22']

In [14]:
booking = df['Booking ID'].unique()
print(booking)

['"CNR5884300"' '"CNR1326809"' '"CNR8494506"' ... '"CNR6358306"'
 '"CNR3030099"' '"CNR3447390"']

In [15]:
booking_status = df['Booking Status'].unique()
print(booking_status)

['No Driver Found' 'Incomplete' 'Completed' 'Cancelled by Driver'
 'Cancelled by Customer']

In [17]:
ID = df['Customer ID'].unique()
print(ID)

['"CID1982111"' '"CID4604802"' '"CID9202816"' ... '"CID9925486"'
 '"CID9415487"' '"CID4108667"']

In [18]:
tipo_de_veiculo = df['Vehicle Type'].unique()
print(tipo_de_veiculo)

['eBike' 'Go Sedan' 'Auto' 'Premier Sedan' 'Bike' 'Go Mini' 'Uber XL']

In [19]:
pickup_location = df['Pickup Location'].unique()
print(pickup_location)

['Palam Vihar' 'Shastri Nagar' 'Khandsa' 'Central Secretariat'
 'Ghitorni Village' 'AIIMS' 'Vaishali' 'Mayur Vihar' 'Noida Sector 62'
 'Rohini' 'Udyog Bhawan' 'Vidhan Sabha' 'Patel Chowk' 'Malviya Nagar'
 'Madipur' 'Jama Masjid' 'IGI Airport' 'Vinobapuri' 'Kashmere Gate'
 'Pitampura' 'Punjabi Bagh' 'Greater Noida' 'Tis Hazari' 'Noida Sector 18'
 'Kanhaiya Nagar' 'Okhla' 'Cyber Hub' 'Sadar Bazar Gurgaon' 'Shastri Park'
 'Faridabad Sector 15' 'Qutub Minar' 'Mundka' 'DLF City Court'
 'New Colony' 'Nirman Vihar' 'New Delhi Railway Station'
 'Civil Lines Gurgaon' 'Seelampur' 'Noida Extension' 'Adarsh Nagar'
 'Panipat' 'Karol Bagh' 'Sultanpur' 'Moti Nagar' 'Dilshad Garden'
 'Aya Nagar' 'Rajiv Chowk' 'MG Road' 'Jasola' 'Ardee City' 'Meerut'
 'Anand Vihar ISBT' 'Lajpat Nagar' 'Tughlakabad' 'Karkarduma' 'Dwarka Mor'
 'Anand Vihar' 'Uttam Nagar' 'Model Town' 'Mandi House' 'Ghitorni'
 'Rajiv Nagar' 'Sohna Road' 'Bahadurgarh' 'Moolchand' 'INA Market'
 'Sushant Lok' 'IIT Delhi' 'Satguru Ram Singh Marg' 'Munirka' 'IGNOU Road'
 'Akshardham' 'Chhatarpur' 'IMT Manesar' 'Azadpur' 'Jhilmil' 'Sikanderpur'
 'Rohini West' 'Kashmere Gate ISBT' 'Kherki Daula Toll' 'IFFCO Chowk'
 'Hauz Rani' 'Sarai Kale Khan' 'Vishwavidyalaya' 'Maidan Garhi'
 'Yamuna Bank' 'Khan Market' 'Pragati Maidan' 'Mansarovar Park' 'Rithala'
 'Saidulajab' 'Nawada' 'Shahdara' 'Tilak Nagar' 'DLF Phase 3'
 'Laxmi Nagar' 'Huda City Centre' 'Mehrauli' 'Botanical Garden'
 'Ramesh Nagar' 'Dwarka Sector 21' 'Noida Film City' 'India Gate'
 'Barakhamba Road' 'Gurgaon Sector 56' 'Ashram' 'Gurgaon Sector 29'
 'Jor Bagh' 'Saket' 'Basai Dhankot' 'Udyog Vihar Phase 4'
 'Raj Nagar Extension' 'Lok Kalyan Marg' 'Greater Kailash'
 'Sarojini Nagar' 'GTB Nagar' 'Vatika Chowk' 'Golf Course Road'
 'Ghaziabad' 'Narsinghpur' 'Panchsheel Park' 'Badarpur' 'Pataudi Chowk'
 'Gwal Pahari' 'Tagore Garden' 'Samaypur Badli' 'Hero Honda Chowk'
 'Delhi Gate' 'Chanakyapuri' 'RK Puram' 'Shivaji Park' 'Keshav Puram'
 'Saket A Block' 'ITO' 'Indraprastha' 'Janakpuri' 'Ashok Park Main'
 'Connaught Place' 'Jahangirpuri' 'Govindpuri' 'Welcome' 'Preet Vihar'
 'Indirapuram' 'Kalkaji' 'Sonipat' 'Netaji Subhash Place'
 'South Extension' 'Kadarpur' 'Arjangarh' 'Chirag Delhi' 'Manesar'
 'Green Park' 'Badshahpur' 'Ashok Vihar' 'Nehru Place' 'Chandni Chowk'
 'Gurgaon Railway Station' 'Inderlok' 'Rajouri Garden' 'Bhiwadi'
 'Subhash Chowk' 'Rohini East' 'Peeragarhi' 'Vasant Kunj' 'Pulbangash'
 'Kaushambi' 'Bhikaji Cama Place' 'Kirti Nagar' 'Paharganj'
 'Subhash Nagar' 'Old Gurgaon' 'Udyog Vihar' 'Hauz Khas' 'Paschim Vihar'
 'Ambience Mall' 'Lal Quila']

In [20]:
drop_location =df['Drop Location'].unique()
print(drop_location)

['Jhilmil' 'Gurgaon Sector 56' 'Malviya Nagar' 'Inderlok' 'Khan Market'
 'Narsinghpur' 'Punjabi Bagh' 'Cyber Hub' 'Noida Sector 18' 'Adarsh Nagar'
 'Dwarka Sector 21' 'AIIMS' 'Kherki Daula Toll' 'Ghitorni Village'
 'GTB Nagar' 'Madipur' 'Anand Vihar' 'Rajiv Nagar' 'Mansarovar Park'
 'Botanical Garden' 'IMT Manesar' 'Old Gurgaon' 'Barakhamba Road' 'Saket'
 'Mehrauli' 'Vishwavidyalaya' 'Preet Vihar' 'Nehru Place' 'Shahdara'
 'Noida Film City' 'Mandi House' 'Janakpuri' 'Udyog Vihar Phase 4'
 'Civil Lines Gurgaon' 'Karkarduma' 'Tagore Garden' 'Noida Extension'
 'Anand Vihar ISBT' 'Central Secretariat' 'Hauz Rani' 'Palam Vihar'
 'RK Puram' 'Basai Dhankot' 'Badarpur' 'Ramesh Nagar' 'Akshardham'
 'Yamuna Bank' 'IGI Airport' 'New Colony' 'Green Park' 'ITO'
 'New Delhi Railway Station' 'Mundka' 'India Gate' 'Pitampura'
 'Netaji Subhash Place' 'Indraprastha' 'Rohini' 'Chirag Delhi'
 'Pataudi Chowk' 'Karol Bagh' 'Vaishali' 'IFFCO Chowk' 'Noida Sector 62'
 'Gwal Pahari' 'Saidulajab' 'Jasola' 'Tis Hazari' 'Udyog Bhawan'
 'Saket A Block' 'Mayur Vihar' 'Gurgaon Sector 29' 'Ashram'
 'DLF City Court' 'Badshahpur' 'DLF Phase 3' 'Greater Noida' 'IGNOU Road'
 'Bahadurgarh' 'Chandni Chowk' 'Shastri Park' 'Nawada' 'Dilshad Garden'
 'Kaushambi' 'Qutub Minar' 'Vinobapuri' 'MG Road' 'Chanakyapuri'
 'Vidhan Sabha' 'Tilak Nagar' 'Laxmi Nagar' 'Panchsheel Park'
 'Nirman Vihar' 'Jama Masjid' 'Aya Nagar' 'Hauz Khas' 'Meerut'
 'Jahangirpuri' 'Bhiwadi' 'Azadpur' 'Sohna Road' 'Shivaji Park'
 'Greater Kailash' 'Manesar' 'Okhla' 'Pragati Maidan'
 'Raj Nagar Extension' 'Lajpat Nagar' 'Keshav Puram'
 'Satguru Ram Singh Marg' 'Faridabad Sector 15' 'Kashmere Gate'
 'Samaypur Badli' 'Jor Bagh' 'Paharganj' 'Delhi Gate' 'Vasant Kunj'
 'Golf Course Road' 'Subhash Nagar' 'Sadar Bazar Gurgaon' 'Sushant Lok'
 'Bhikaji Cama Place' 'Arjangarh' 'Hero Honda Chowk' 'Ghitorni'
 'Maidan Garhi' 'Pulbangash' 'Sarai Kale Khan' 'Rohini West' 'Moti Nagar'
 'Udyog Vihar' 'South Extension' 'Moolchand' 'Uttam Nagar' 'Peeragarhi'
 'Ambience Mall' 'Munirka' 'Ghaziabad' 'Sikanderpur' 'Kalkaji' 'Panipat'
 'Lok Kalyan Marg' 'Kirti Nagar' 'Ashok Park Main' 'Tughlakabad'
 'Shastri Nagar' 'Rohini East' 'Paschim Vihar' 'Indirapuram' 'INA Market'
 'Kashmere Gate ISBT' 'Sultanpur' 'Rajouri Garden' 'Vatika Chowk'
 'Ardee City' 'Gurgaon Railway Station' 'Ashok Vihar' 'Connaught Place'
 'Chhatarpur' 'Rajiv Chowk' 'Subhash Chowk' 'Huda City Centre' 'Rithala'
 'Govindpuri' 'IIT Delhi' 'Dwarka Mor' 'Patel Chowk' 'Welcome' 'Seelampur'
 'Model Town' 'Kadarpur' 'Sarojini Nagar' 'Kanhaiya Nagar' 'Khandsa'
 'Lal Quila' 'Sonipat']

In [21]:
reason_for_cancelling = df['Reason for cancelling by Customer'].unique()
print(reason_for_cancelling)

[nan 'Driver is not moving towards pickup location'
 'Driver asked to cancel' 'AC is not working' 'Change of plans'
 'Wrong Address']

In [22]:
driver_cancelation = df['Driver Cancellation Reason'].unique()
print(driver_cancelation)

[nan 'Personal & Car related issues' 'Customer related issue'
 'More than permitted people in there' 'The customer was coughing/sick']

In [24]:
incomplete_rides_reason = df['Incomplete Rides Reason'].unique()
print(incomplete_rides_reason)

[nan 'Vehicle Breakdown' 'Other Issue' 'Customer Demand']

In [25]:
payment_method = df['Payment Method'].unique()
print(payment_method)

[nan 'UPI' 'Debit Card' 'Cash' 'Uber Wallet' 'Credit Card']